<!doctype html>
<html lang="en" data-use-rem="375">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="format-detection" content="telephone=no,email=no">
    <title>小黑游戏中心</title>
    <link rel="stylesheet" href="/css/common/normalize.css">
    <link rel="stylesheet" href="/css/common/util-common.css">
    <link rel="stylesheet" href="/css/wx-goodybag/index.css">
</head>
<body>
<script src="/scripts/common/rem.js"></script>

<div id="wholeWrap" class="whole-wrap">
    <div class="game">
        <img class="game-level" src="/images/wx/picn1.png" />
        <img class="game-background" src="/images/bg/coolguy-logo.jpeg" />
        <div class="game-banner">把持</div>
    </div>
    <div class="game">
        <img class="game-level" src="/images/wx/picn1.png" />
        <img class="game-background" src="/images/bg/coolguy-logo.jpeg" />
        <div class="game-banner">把持</div>
    </div>
    <div class="game">
        <img class="game-level" src="/images/wx/picn1.png" />
        <img class="game-background" src="/images/bg/coolguy-logo.jpeg" />
        <div class="game-banner">把持</div>
    </div>
    <div class="game">
        <img class="game-level" src="/images/wx/picn1.png" />
        <img class="game-background" src="/images/bg/coolguy-logo.jpeg" />
        <div class="game-banner">把持</div>
    </div>
    <div class="game">
        <img class="game-level" src="/images/wx/picn1.png" />
        <img class="game-background" src="/images/bg/coolguy-logo.jpeg" />
        <div class="game-banner">把持</div>
    </div>
    <div class="game">
        <img class="game-level" src="/images/wx/picn1.png" />
        <img class="game-background" src="/images/bg/coolguy-logo.jpeg" />
        <div class="game-banner">把持</div>
    </div>
    <div class="game">
        <img class="game-level" src="/images/wx/picn1.png" />
        <img class="game-background" src="/images/bg/coolguy-logo.jpeg" />
        <div class="game-banner">把持</div>
    </div>
    <div class="goodybag-alert">
        <div class="goodybag-title"><span></span><img class="goodybag-close" src="/images/wx/buttongb1.png" alt=""></div>
        <!--<div class="goodybag-desc">这时描述</div>-->
        <!--<div class="goodybag-process">-->
            <!--<p class="goodybag-remaincount">礼包剩余100%</p>-->
            <!--<div class="goodybag-barwrap">-->
                <!--<img class="goodybag-bar" src="/images/wx/liaobaosytiao2.png"/>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="goodybag-btn"></div>-->
        <div class="redeemkey">
            <div class="redeemkey-code">REFDABHTFAFDSAFSE</div>
            <p class="redeemkey-words">长按复制</p>
        </div>
    </div>
</div>

<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/scripts/common/util-common.js"></script>
<script src="/scripts/wx-goodybag/index.js"></script>
</body>
</html>