<!doctype html>
<html lang="en" data-use-rem="375">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="format-detection" content="telephone=no,email=no">
    <title>小黑游戏中心</title>
    <link rel="stylesheet" href="/coolguy/css/common/normalize.css">
    <link rel="stylesheet" href="/coolguy/css/common/util-common.css">
    <link rel="stylesheet" href="/coolguy/css/wx-goodybag/index.css">
</head>
<body>
<script src="/coolguy/scripts/common/rem.js"></script>
<script>
    var className = '.whole-wrap';
    var windowHeight = window.screen.height;
    var height = windowHeight - 64 + 'px';
    document.write('<style>' + className + '{min-height: ' + height + '}</style>');
</script>
<div id="wholeWrap" class="whole-wrap">
    <div id="goodyBagAlert" class="goodybag-alert">
        <div class="goodybag-title"><span id="goodyBagName"></span><img id="goodyBagClose" class="goodybag-close" src="/coolguy/images/wx/buttongb1.png" alt=""></div>
        <div id="alertContent">

        </div>
    </div>
</div>

<script src="/coolguy/vendor/jquery/jquery.min.js"></script>
<script src="/coolguy/scripts/common/util-common.js"></script>
<script src="/coolguy/scripts/wx-goodybag/index.js"></script>
</body>
</html>