<style>
    .new {
        padding-bottom: 30px;
    }

    .new-control {
        padding-left: 25px;
        margin-bottom: 25px;
    }

    .new-data {
        width: 400px;
        padding: 0 25px;
        margin-top: 10px;
    }

    .form-control {
        margin: 10px 0;
    }

    .upload-image {
        width: 200px;
        height: auto;
        margin-top: 25px;
    }
</style>
<div class="new panel">
    <ol class="breadcrumb">
        <li><a data-link="/game/index.htm?currentPage=1" href="javascript:void(0)">Game</a></li>
        <li><a data-link="/goodybag/index.htm?currentPage=1&gameid={{gameId}}" href="javascript:void(0)">GoodyBag</a></li>
        <li class="active">New</li>
    </ol>
    <div class="new-control">
        <button id="ok" class="btn btn-primary">OK</button>
    </div>
    <div class="new-data">
        <form id="form" action="/">
            <input id="gameid" name="gameid" type="hidden" value="{{gameId}}">
            <input class="form-control" type="text" name="name" placeholder="name">
            <textarea class="form-control" placeholder="description" name="desc" rows="4"></textarea>
            <input id="upload" style="display: none" type="file" name="redeemcode">
            <button id="uploadProxyBtn" class="btn btn-info">upload redeem code</button>
            <span id="uploadFileName" class=""></span>
        </form>
    </div>
</div>
<script>
    var newPageCache = {
        api: {
            addNewGoodyBag: '/api/goodybag'
        },
        linkUrl: {
            goGoodyBagIndex: '/goodybag/index.htm'
        }
    };

    var newPage = {
        init: function() {
            this.initData();
            this.initPage();
            this.initEvent();
            this.initComponent();
        },
        initData: function() {
        },
        initPage: function() {
        },
        initEvent: function() {
            this.addClickUploadBtnEvent();
            this.addShowUploadRedeemCodeEvent();
            this.addSubmitBtnEvent();
        },
        initComponent: function() {
            breadcrumbCpn.init();
        },
        addClickUploadBtnEvent: function() {
            $('#uploadProxyBtn').click(function(event) {
                event.preventDefault();
                $('#upload').click();
            });
        },
        addShowUploadRedeemCodeEvent: function() {
            $('#upload').change(function() {
                var file = this.files[0];
                if (file.type !== 'text/plain') {
                    toastr.warn('上传的文件必须是text文件！');
                    return false;
                }

                $('#uploadFileName').html(file.name);
            });
        },
        addSubmitBtnEvent: function() {
            $('#ok').click(function() {
                var gameId = $('#gameid').val();
                submitForm('post', newPageCache.api.addNewGoodyBag, 'form', function() {
                    toastr.success('add a new goody bag successfully!');
                    getHtml(newPageCache.linkUrl.goGoodyBagIndex + '?gameid=' + gameId , 'mainContent');
                });
            });
        }
    };

    var breadcrumbCpn = {
        init: function() {
            this.initEvent();
        },
        initEvent: function() {
            $('#mainContent').off('click', '.breadcrumb').on('click', '.breadcrumb', function(event) {
                var linkUrl = $(event.target).attr('data-link');
                getHtml(linkUrl, 'mainContent');
            });
        }
    };

    newPage.init();
</script>