<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1">
    <title>Cool Guys Management</title>
    <!-- VENDOR CSS -->
    <link rel="stylesheet" href="/coolguy/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/coolguy/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/coolguy/vendor/linearicons/style.css">
    <link rel="stylesheet" href="/coolguy/vendor/toastr/toastr.min.css">
    <!-- MAIN CSS -->
    <link rel="stylesheet" href="/coolguy/css/common/main.css">
    <link rel="stylesheet" href="/coolguy/css/common/util-common.css">
    <!-- app -->
    <link rel="stylesheet" href="/coolguy/css/layouts/bg-index.css">
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <!-- ICONS -->
    <link rel="apple-touch-icon" sizes="76x76" href="/coolguy/images/bg/apple-icon.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/coolguy/images/bg/favicon.png">
</head>
<body>

<!-- WRAPPER -->
<div id="wrapper">
    <!-- NAVBAR -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="brand">
            <img class="project-logo" src="/coolguy/images/bg/index-logo.jpg" alt="project Logo" class="img-responsive logo">
        </div>
        <div class="container-fluid">
            <div class="navbar-btn">
                <button type="button" class="btn-toggle-fullwidth"><i class="lnr lnr-arrow-left-circle"></i></button>
            </div>
            <form class="navbar-form navbar-left"></form>
            <!--<div class="navbar-btn navbar-btn-right">-->
                <!--<a class="btn btn-success update-pro" href="#downloads/klorofil-pro-bootstrap-admin-dashboard-template/?utm_source=klorofil&utm_medium=template&utm_campaign=KlorofilPro" title="Upgrade to Pro" target="_blank"><i class="fa fa-rocket"></i> <span>UPGRADE TO PRO</span></a>-->
            <!--</div>-->
            <div id="navbar-menu">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown"><img src="/coolguy/images/bg/coolguy-logo.jpeg" class="img-circle" alt="Avatar"> <span>Zico</span></a>
                    </li>
                    <li class="dropdown">
                        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown"><i class="lnr lnr-question-circle"></i> <span>Help</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- END NAVBAR -->
    <!-- LEFT SIDEBAR -->
    <div id="sidebar-nav" class="sidebar">
        <div class="sidebar-scroll">
            <nav>
                <ul id="sideBarNav" class="nav">
                    <li><a href="javascript:void(0)" class="left-nav-event" data-page="homepage"><i class="lnr lnr-home"></i><span>HomePage</span></a></li>
                    <li><a href="javascript:void(0)" class="left-nav-event" data-page="game"><i class="lnr lnr-laptop-phone"></i><span>Game</span></a></li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- END LEFT SIDEBAR -->
    <!-- MAIN -->
    <div class="main">
        <!-- MAIN CONTENT -->
        <div class="main-content">
            <div id="mainContent" class="container-fluid">
                <!-- OVERVIEW -->

            </div>
        </div>
        <!-- END MAIN CONTENT -->
    </div>
    <!-- END MAIN -->
    <div class="clearfix"></div>
    <footer>
        <div class="container-fluid">
            <p class="copyright">Copyright &copy; 2017.Personal Darren Lee All rights reserved.</p>
        </div>
    </footer>
</div>

<script src="/coolguy/vendor/jquery/jquery.min.js"></script>
<script src="/coolguy/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/coolguy/vendor/bootstrap-paginator/bootstrap-paginator.min.js"></script>
<script src="/coolguy/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<script src="/coolguy/vendor/toastr/toastr.min.js"></script>
<script src="/coolguy/scripts/common/klorofil-common.js"></script>
<script src="/coolguy/scripts/common/util-common.js"></script>
<script src="/coolguy/scripts/layouts/bg-index.js"></script>
</body>
</html>