<link rel="stylesheet" href="/css/bg-homepage/index.css">
<div class="homepage"></div>
<script>
    var width = window.screen.availWidth - 260 - (15 + 10) * 2;
    var height = 1080 / 1920 * width;
    $('.homepage').css({
        'width': width,
        'height': height
    });
</script>
<script src="/scripts/bg-homepage/index.js"></script>