<link rel="stylesheet" href="/css/bg-game/detail.css">
<div class="detail panel">
    <ol class="breadcrumb">
        <li><a data-link="/game/index.htm?currentPage=1" href="javascript:void(0)">Game</a></li>
        <li class="active">Detail</li>
    </ol>
    <div class="detail-data">
        <input class="form-control detail-data" type="text" name="name" value="{{name}}" disabled>
        <textarea class="form-control detail-data" name="desc" rows="4" disabled>{{description}}</textarea>
        <img class="detail-image" src="{{imgPath}}" alt="">
    </div>
</div>
<script src="/scripts/bg-game/detail.js"></script>