<style>
    .detail {
        padding-bottom: 10px;
    }

    .form-control {
        margin: 10px 0;
    }

    .detail-data {
        width: 400px;
        padding: 0 25px;
        margin-top: 10px;
    }

    .detail-image {
        max-width: 400px;
        height: auto;
    }
</style>
<div class="detail panel">
    <ol class="breadcrumb">
        <li><a data-link="/game/index.htm?currentPage=1" href="javascript:void(0)">Game</a></li>
        <li class="active">Detail</li>
    </ol>
    <div class="detail-data">
        <input class="form-control detail-data" type="text" name="name" value="{{name}}" disabled>
        <textarea class="form-control detail-data" name="desc" rows="4" disabled>{{description}}</textarea>
        <input class="form-control detail-data" type="text" name="name" value="{{rankNo}}" disabled>
        <img class="detail-image" src="{{imgPath}}" alt="">
    </div>
</div>
<script>
    var detailPage = {
        init: function() {
            this.initComponent();
        },
        initComponent: function() {
            breadcrumbCpn.init();
        }
    };

    var breadcrumbCpn = {
        init: function() {
            this.initEvent();
        },
        initEvent: function() {
            $('#mainContent').off('click', '.breadcrumb').on('click', '.breadcrumb', function(event) {
                var linkUrl = $(event.target).attr('data-link');
                getHtml(linkUrl, 'mainContent');
            });
        }
    };

    detailPage.init();
</script>