<link rel="stylesheet" href="/css/bg-game/index.css">
<div class="game panel">
    <div class="index-crumbs">
        <a href="#">Game</a> / <a href="#">add</a>
    </div>
    <div class="game-control">

    </div>
    <div class="game-data">
        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Username</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>Steve</td>
                    <td>Jobs</td>
                    <td>@steve</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Simon</td>
                    <td>Philips</td>
                    <td>@simon</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Jane</td>
                    <td>Doe</td>
                    <td>@jane</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="game-pager">

    </div>
</div>
<script src="/scripts/bg-game/index.js"></script>