<link rel="stylesheet" href="/css/bg-game/index.css">
<div class="game panel">
    <ol class="breadcrumb">
        <li><a href="#">Game</a></li>
        <li class="active">New</li>
        <!--<li class="active">Data</li>-->
    </ol>
    <div class="game-control">
        <button id="new" class="btn btn-primary">New</button>
    </div>
    <div class="game-data">
        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Username</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>Steve</td>
                    <td>Jobs</td>
                    <td>@steve</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Simon</td>
                    <td>Philips</td>
                    <td>@simon</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Jane</td>
                    <td>Doe</td>
                    <td>@jane</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="game-pager">
        <div id="paging"></div>
    </div>
</div>
<script src="/scripts/bg-game/index.js"></script>